@media (min-width: 1600px) {
    .py_3 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .mt_3 {
        margin-top: 6rem;
    }
    .container {
        max-width: var(--content_width) !important;
    }
    header {
        #mainNavbar {
            &.collapse ul.navbar-nav {
                min-height: calc(100vh - 250px);
            }
        }
    }
    .button {
        padding: 18px 13px;
    }
    .theme_btn, .dark_btn, .border_btn, .text_btn {
        padding-right: 100px;
        svg {
            width: 55px;
            height: 20px;
            margin-left: 15px;
        }
    }
    .theme_btn:hover, .dark_btn:hover, .border_btn:hover, .text_btn:hover {
        svg {
            margin-left: 28px;
        }
    }
    .approach_sec {
        .col_inner {
            padding: 2.5rem;
            padding-bottom: 70px;
            .col_item {
                margin-top: 7rem;
            }
            .arrow_btn {
                bottom: 2rem;
                left: 2.5rem;
                svg {
                    width: 60px;
                    height: 22px;
                }
            }
            .item_icon {
                width: 100px;
                height: 100px;
                margin-bottom: -50px;
                top: -90px;
            }
            &:hover {
                .item_icon {
                    top: -110px;
                }
            }
        }
    }
    .common_angebot_sec {
        & .sec_body {
            .col_item {
                margin-bottom: 4rem;
            }
            .col_inner {
                padding-bottom: 80px;
            }
        }
    }
    .common_kompet_sec {
        .icon_right {
            top: -180px;
        }
    }
    footer {
        .ftr_logo_col {
            img {
                width: 320px;
            }
        }
        .ftr_contact {
            a {
                .icon_style {
                    width: 75px;
                    height: 75px;
                    padding: 18px;
                }
            }
        }
        .scl_links {
            a {
                width: 75px;
                height: 75px;
                padding: 18px;
            }
        }
        .ftr_swiss {
            .swiss_item {
                padding-right: 2rem;

                svg {
                    width: 50px;
                    height: 45px;
                }
            }

            &:before {
                left: 47%;
            }
        }
    }
    .owl-carousel {
        .owl-dots {
            .owl-dot {
                span {
                    width: 35px;
                    height: 7px;
                    margin: 7px;
                }

                &.active {
                    span {
                        width: 55px;
                    }
                }
            }
        }
    }
    .refer_carousel, .home_refer_carousel {
        .item {
            width: 390px;
        }
        .center .item {
            width: 570px;
        }
        .owl-item .item {
            .item_img {
                margin-bottom: 2rem;
            }
            &.have_more_items {
                .item_img {
                    height: 400px;
                }
            }
        }
        .owl-item.center .item {
            &.have_more_items {
                .item_img {
                    height: 580px;
                }
            }
        }
    }
    .refer_carousel {
        .owl-nav {
            top: -140px;
            button {
                margin: 10px;
                span {
                    transform: none;
                }
            }
        }
    }
    .home_refer_carousel {
        .owl-nav {
            top: 420px;
            button {
                margin: 10px;
                span {
                    transform: none;
                }
            }
        }
    }
    .testimonial_carousel {
        .item {
            margin: 30px;
            margin-top: 80px;
            .item_profile {
                padding: 0 50px;
                margin-top: -70px;
                img {
                    width: 130px;
                    height: 130px;
                }
                svg {
                    transform: scale(0.9);
                }
            }
            .item_text {
                padding: 50px;
                .testi_by {
                    padding-top: 1.5rem;
                    margin-top: 1.5rem;
                }
            }
        }
    }
    ul.nav-tabs {
        .nav-link {
            font-size: var(--bs-fs30);
        }
    }
}

@media (min-width: 1600px) and (max-width: 1980px) {
    :root {
        /* --bs-fs80: 90px;
        --bs-fs70: 80px;
        --bs-fs60: 70px;
        --bs-fs50: 58px;
        --bs-fs40: 45px;
        --bs-fs35: 40px;
        --bs-fs30: 34px;
        --bs-fs24: 26px;
        --bs-fs20: 22px; */
        --bs-fs100: 90px;
        --bs-fs80: 80px;
        --bs-fs70: 70px;
        --bs-fs60: 60px;
        --bs-fs50: 52px;
        --bs-fs40: 40px;
        --bs-fs35: 35px;
        --bs-fs30: 30px;
        --bs-fs24: 24px;
        --bs-fs20: 20px;
    }
    .accordion-item {
        .accordion-button {
            padding: 14px 28px;
            padding-right: 80px;
        }
        .accordion-button::after {
            width: 48px;
            height: 48px;
            right: 16px;
            top: 12px;
        }
        .accordion-body {
            padding: 0 28px 25px;
        }
    }
}

@media (min-width: 1981px) {
    :root {
        --content_width: 2020px;
        --content_width_small: 1600px;
        --content_width_smaller: 1373px;
        --content_padding_large: 250px;
        --content_padding_small: 125px;
        --bs-fs100: 110px;
        --bs-fs80: 95px;
        --bs-fs70: 85px;
        --bs-fs60: 75px;
        --bs-fs50: 65px;
        --bs-fs40: 54px;
        --bs-fs35: 48px;
        --bs-fs30: 42px;
        --bs-fs24: 28px;
        --bs-fs20: 24px;
    }   
    .button {
        padding: 20px !important;
    }
    .theme_btn, .dark_btn, .border_btn, .text_btn {
        padding-right: 100px !important;
    }
    .common_kompet_sec {
        .icon_right {
            right: 130px;
        }

        .sec_width {
            padding: 0 var(--content_padding_small);
        }
    }
    .ang_kontakt_sec {
        .sec_max_width {
            padding-right: calc(var(--content_padding_small) + 330px);
        }
    }
    .accordion-item {
        .accordion-button {
            padding: 18px 28px;
            padding-right: 80px;
        }
        .accordion-button::after {
            width: 55px;
            height: 55px;
            right: 20px;
            top: 16px;
        }
        .accordion-body {
            padding: 0 28px 30px;
        }
    }
    ul.nav-tabs {
        .nav-link {
            padding: .5rem 1rem;
        }
    }
    .refer_carousel, .home_refer_carousel {
        .item {
            width: 520px !important;
        }
        .center .item {
            width: 700px !important;
        }
        .owl-item .item {
            .item_img {
                margin-bottom: 2rem;
            }
            &.have_more_items {
                .item_img {
                    height: 520px;
                }
            }
        }
        .owl-item.center .item {
            &.have_more_items {
                .item_img {
                    height: 700px;
                }
            }
        }
    }
    .refer_carousel {
        .owl-nav {
            top: -140px;
            button {
                span {
                    transform: none;
                }
            }
        }
    }
    .home_refer_carousel {
        .owl-nav {
            top: 460px;
            button {
                span {
                    transform: none;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    :root {
        --bs-fs100: 55px;
        --bs-fs80: 50px;
        --bs-fs70: 40px;
        --bs-fs60: 35px;
        --bs-fs50: 30px;
        --bs-fs40: 28px;
        --bs-fs35: 26px;
        --bs-fs30: 24px;
        --bs-fs24: 18px;
        --bs-fs22: 16px;
        --bs-fs20: 15px;
    }
    .container {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    header {
        .container-fluid {
            padding-left: 40px !important;
            padding-right: 40px !important;
        }
        #mainNavbar {
            &.collapse .menu_container {
                padding-left: 40px !important;
                padding-right: 40px !important;
            }
        }
    }
    .accordion-item {
        .accordion-button {
            font-size: 20px;
        }
        .accordion-body {
            font-size: 17px;
        }
        .accordion-button::after {
            width: 35px;
            height: 35px;
            right: 8px;
            top: 5px;
            background-size: 16px !important;
        }
    }
}

@media (min-width: 1200px) {
    .error_thank_sec {
        display: flex;
        align-items: center;
        min-height: 85vh;
        .text_col {
            padding-right: 50px;
        }
    }
}

@media (min-width: 992px) {
    html, body, * {
        cursor: none !important;
    }
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .pl-lg-0 {
        padding-left: 0;
    }
    header {
        .container-fluid {
            padding-left: 80px;
            padding-right: 80px;
        }
        #mainNavbar {
            &.collapse .menu_container {
                padding-left: 80px;
                padding-right: 80px;
            }
        }
    }
    .row {
        --bs-gutter-x: 40px;
    }
    .kontakt_sec {
        .addres_col {
            padding-right: 100px;
        }
    }
}

@media (min-width: 768px) {
    .kontakt_sec {
        .form_col {
            .form_btn {
                text-align: right;
            }
        }
    }
}

@media (max-width: 1680px) {
    :root {
        --content_width: 1600px;
        --content_width_small: 960px;
        --content_width_smaller: 730px;
        --content_padding_large: 125px;
        --content_padding_small: 75px;
    }

    .select-search {
        select.selct_custom,
        input.srch--field {
            height: 50px;
            width: 180px;
            padding-right: 30px;
        }
        fieldset.col--branch:after,
        fieldset.col--search:after {
            width: 18px;
            height: 18px;
            right: 10px;
            top: 15px;
        }
    }
}

@media (max-width: 1199px) {
    :root {
        --content_padding_large: 25px;
        --content_padding_small: 15px;
    }

    .py_3 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .mt_3 {
        margin-top: 40px;
    }

    .button {
        padding: 10px;
    }

    .theme_btn,
    .dark_btn,
    .border_btn,
    .text_btn {
        padding-right: 60px;

        svg {
            width: 25px;
        }
    }

    .btn_grid {
        gap: 10px;
    }

    .btn_block {
        margin-top: 1rem;
    }

    .banner_sec,
    .inner_banner,
    .single_referenzen_sec,
    .error_thank_sec,
    .single_blog_sec {
        padding-top: 130px;
        padding-bottom: 40px;
    }

    header {
        .theme_switch_btn {
            .dropdown-menu {
                right: -80px;
                padding: 8px 12px;
                gap: 8px;

                .dropdown-item {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    footer {
        .ftr_contact {
            a {
                .icon_style {
                    width: 45px;
                    height: 45px;
                    padding: 10px;
                }
            }
        }

        .scl_links {
            a {
                width: 45px;
                height: 45px;
                padding: 10px;
            }
        }

        .ftr_swiss {
            &:before {
                left: 47%;
            }
        }
    }

    .common_kompet_sec {
        .icon_right {
            right: 20px;
            top: -100px;

            svg {
                width: 100px;
            }
        }
    }
}

@media (max-width: 991px) {
    :root {
        --bs-fs100: 44px;
        --bs-fs80: 42px;
        --bs-fs70: 38px;
        --bs-fs60: 35px;
        --bs-fs50: 30px;
        --bs-fs40: 27px;
        --bs-fs35: 25px;
        --bs-fs30: 22px;
        --bs-fs24: 18px;
        --bs-fs22: 16px;
        --bs-fs20: 15px;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .button {
        padding: 15px;
    }
    .theme_btn, .dark_btn, .border_btn, .text_btn {
        padding-right: 60px;
    }
    header {
        .container-fluid {
            padding-left: 30px;
            padding-right: 30px;
        }
        #mainNavbar {
            &.collapse.show {
                width: 70%;
                padding: 100px 0 30px;
            }
            &.collapse .menu_container {
                padding-left: 30px;
                padding-right: 30px;
            }
            .vis_only_mob {
                display: block;
            }
        }
    }
    .error_thank_sec {
        .img_col {
            padding-top: 0;
        }

        .text_col {
            text-align: center;

            .btn_block {
                display: flex;
                justify-content: center;
            }
        }
    }
    .single_baner_data {
        .angebot_icon {
            width: 100%;
            text-align: center;

            svg {
                width: 180px;
                height: auto;
            }
        }
    }

    .uber_uns_sec {
        .max_sec {
            padding: 0;
        }
    }
    .accordion-item {
        border-radius: 30px !important;
        .accordion-button {
            font-size: 18px;
            padding-right: 40px;
        }
        .accordion-button::after {
            width: 35px;
            height: 35px;
            right: 8px;
            top: 5px;
            background-size: 16px !important;
        }
        .accordion-body {
            font-size: 16px;
        }
    }
    .ang_kontakt_sec {
        .sec_max_width {
            max-width: var(--content_width_small);
            padding-left: 0;
            padding-right: 0;
            margin: 0 auto;
        }
       .img_pos {
            width: 100%;
            height: 100%;
            position: unset;
            transform: none;
            margin-top: 2rem;
        }
    }
    .refer_carousel {
        .owl-nav {
            position: unset;
        }
    }
}

@media (max-width: 767px) {
    :root {
        --bs-fs100: 32px;
        --bs-fs80: 32px;
        --bs-fs70: 30px;
        --bs-fs60: 28px;
        --bs-fs50: 26px;
        --bs-fs40: 24px;
        --bs-fs35: 22px;
        --bs-fs30: 20px;
        --bs-fs24: 16px;
        --bs-fs22: 14px;
        --bs-fs20: 13px;
    }
    .py_3 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .mt_3 {
        margin-top: 30px;
    }
    header {
        .theme_switch_btn {
            margin-right: 0;
        }
    }
    .banner_sec,
    .inner_banner,
    .single_referenzen_sec,
    .error_thank_sec,
    .single_blog_sec {
        padding-top: 130px;
        padding-bottom: 30px;
    }
    header {
        #mainNavbar {
            &.collapse.show {
                right: 0;
                width: 100%;
                padding: 100px 0 20px;
            }
        }
    }
    .common_angebot_sec {
        .sec_body {
            .col_inner {
                padding-bottom: 0;

                .btn_block {
                    position: unset;
                }
            }
        }
    }
    .kontakt_sec {
        .form_col {
            .grey_bg {
                padding: 1.5rem;
            }
        }
    }
    .common_kompet_count {
        padding-top: 50px;
        padding-bottom: 50px;

        .icon_right {
            top: -100px;

            svg {
                width: 70px;
                height: 55px;
            }
        }
    }
    .common_angebot_sec {
        .sec_heading {
            .icon_right {
                width: 100%;
                text-align: left;

                svg {
                    width: 130px;
                    height: 120px;
                }
            }
        }
    }

    .accordion-item {
        border-radius: 30px !important;
        .accordion-button {
            font-size: 18px;
            padding-right: 40px;
        }
        .accordion-button::after {
            width: 28px;
            height: 28px;
            right: 10px;
            top: 8px;
            background-size: 14px !important;
        }
        .accordion-body {
            font-size: 16px;
        }
    }
}

@media (min-width: 601px) {
    .home_refer_carousel, .refer_carousel {
        .have_two_items {
            width: 100% !important;
        }
        .owl-stage {
            display: flex;
            justify-content: center;
        }
        .owl-item .item {
            /* margin: 15px; */
            /* user-select: none;
            pointer-events: none; */
            opacity: 1;
            transition: transform 1.5s cubic-bezier(.3, .1, .3, 1), opacity 1.5s cubic-bezier(.3, .1, .3, 1), -webkit-transform 1.5s cubic-bezier(.3, .1, .3, 1);
            /* -webkit-transform: translateY(100px);
            -moz-transform: translateY(100px);
            -o-transform: translateY(100px);
            -ms-transform: translateY(100px);
            transform: translateY(100px); */
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
        .owl-item.center .item {
            pointer-events: auto;
            opacity: 1;
            -webkit-transform: none;
            -moz-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        }
    }
}

@media (max-width: 600px) {
    .home_refer_carousel, .refer_carousel {
        .item, .center .item {
            width: 100% !important;
        }
        .owl-nav {
            position: unset;
        }
    }
    .kontakt_sec {
        .addres_info {
            svg {
                width: 25px;
            }
            .info_item {
                a, address {
                    padding-left: 40px;
                }
            }
        }
    }
    footer {
        .ftr_swiss {
            .swiss_item {
                padding-right: 1rem;
            }
        }
        .copyright_flex {
            flex-direction: column;
            align-items: center;
        }
    }
    ul.nav-tabs {
        .nav-link {
            font-size: 16px;
            padding: 8px;
        }
    }
}

@media (max-width: 480px) {
    :root {
        --bs-fs100: 32px;
        --bs-fs80: 30px;
        --bs-fs70: 28px;
        --bs-fs60: 26px;
        --bs-fs50: 24px;
        --bs-fs40: 22px;
        --bs-fs35: 20px;
        --bs-fs30: 18px;
        --bs-fs24: 16px;
        --bs-fs22: 14px;
        --bs-fs20: 13px;
    }
    .container {
        --bs-gutter-x: 1.5rem;
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-right: calc(var(--bs-gutter-x) * .5);
    }
    header {
        .container-fluid {
            --bs-gutter-x: 1.5rem;
            padding-left: calc(var(--bs-gutter-x) * .5);
            padding-right: calc(var(--bs-gutter-x) * .5);
        }
        .navbar-brand {
            svg {
                width: 60px;
            }
        }
        #mainNavbar {
            &.collapse .menu_container {
                --bs-gutter-x: 1.5rem;
                padding-left: calc(var(--bs-gutter-x) * .5);
                padding-right: calc(var(--bs-gutter-x) * .5);
            }
        }
    }
    .select-search {
        flex-direction: column;
        width: 100%;

        select.selct_custom,
        input.srch--field {
            width: 100%;
        }
    }
}